/* 

RNAseq config file

*/

manifest {
	nextflowVersion = '>=0.29'
}

params {

	account = "" //SLURM account
	
	cpus=12
	//currentDir="$PATH"
	
	aligner='salmon'
	noFastQC=false
	noMultiQC=false
	noTrimmomatic=false
	noSortmeRNA=false
	

	/* General options */
	help=false
	outDir="results"
	step1="1.raw.fastqc"
	step2="2.shortmerna"
	step3="3.trimmomatic"
	step4="4.salmon"
	fastqcSubDir="FastQC"
	multiqcSubDir="MultiQC"
	containerFolder="/mnt/picea/projects/singularity"
	
	/* Containers */
	
	fastqcContainer="${params.containerFolder}/fastqc.simg"
	
	multiqcContainer = "${params.containerFolder}/multiqc.simg"
	//includes sortmerna, fmerge, funmerge and sormerna data base
	sortmernaContainer = "${params.containerFolder}/sortmerna.simg"
	trimmomaticContainer = "${params.containerFolder}/trimmomatic.simg"
	salmonContainer = "${params.containerFolder}/salmon.simg"
	

	/* FastQC options */
	fastqcNoExtract=true

	/* sortmeRNA options */
	smeRNAfastx= true
	smeRNApairedIn = true
	smeRNAlog = true
	//smeRNADB="$SORTMERNADB"
	smeRNADB=""

  /* TRIMMOMATIC options */
	//trimJar="$TRIMMOMATIC_HOME/trimmomatic.jar"
	//trimAdapter = "$TRIMMOMATIC_HOME/adapters/TruSeq3-PE-2.fa"
	trimJar=""
	trimAdapter=""
	//trimJar="/mnt/picea/Modules/apps/bioinfo/trimmomatic/0.36/trimmomatic.jar"
	//trimAdapter = "/mnt/picea/Modules/apps/bioinfo/trimmomatic/0.36/adapters/TruSeq3-PE-2.fa"
	trimMode="PE"
	trimPthred=33
	trimLog = true
	trimSeedMismatches = 2
	trimPalClipThreshold = 30
	trimSimpleClipThreshold = 10
	trimWindowSize = 5
	trimRequiredQuality = 20
	trimMinLen = 50
	trimCrop = 0
	trimHeadCrop = 0
	
	/* SALMON options */
	/*salmonIndex="/mnt/picea/home/aserrano/PopIndex"*/
	salmonIndex="/mnt/picea/home/aserrano/PabieIndex"
	salmonMode="IU" 

}

singularity {
    enabled = true
}
/* not working
executor {

  $local {
      cpus = 12
      memory = '14 GB'
  }

}
*/

process {
	//next two lines are module loading related
	shell = ['/bin/bash', '-l']
	//beforeScript = 'source /mnt/picea/Modules/default/init/bash'
	//beforeScript = 'rm -rf work'
	executor = 'slurm'
	clusterOptions = {"-A $params.account --mem"}
	//in case of: "slurmstepd: error: Exceeded step memory limit at some point"
	errorStrategy = 'finish'

	$fastqc.container = params.fastqcContainer
	$fastqc_sortmerna.container = params.fastqcContainer
	$fastqc_trimmomatic.container = params.fastqcContainer
	$multiqc.container = params.multiqcContainer
	$sortmerna.container = params.sortmernaContainer
	$merger.container = params.sortmernaContainer
	$unmerger.container = params.sortmernaContainer
	$trimmomatic.container = params.trimmomaticContainer
	$salmon.container = params.salmonContainer

	
  withLabel: 'multiqc.*' {
    cpus = 6
		//module = 'multiqc/1.5'
  }
	
	  //withLabel: 'fastqc.*' {
		//beforeScript ='module load FastQC'
		//container = "/mnt/picea/projects/singularity/fastqc.simg"
    //cpus = cpus
		//module = ['bioinfo-tools', 'FastQC/0.11.4']
  //}
	
	withLabel: 'merger|unmerger' {
    cpus = 6
		//module = ['bioinfo-tools', 'funmerge/1.0']
  }
  withName: trimmomatic {
    cpus = 8
		//module = 'Trimmomatic/0.36'
  }
  withName: sortmerna {
    cpus = 8
		//module = 'sortmerna/2.1'
  }
  withName: salmon {
    cpus = 8
		//module = 'salmon/0.11'
  }
}


